{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block content %}
    <main class="r_box">
    {% if articles %}
    {% for i in articles %}
        <li><i><a href="/"><img src="{{ url_for("static",filename="images/1.jpg") }}"></a></i>
            <h3><a href="{{ url_for('detali',a_id=i.id) }}">{{ i.title }}</a></h3>
            <span>{{ i.up_time }}</span>

          <p>{{ i.content }}</p>
        <p></p>
        </li>
    {% endfor %}
    {% else %}
    <p>这家伙很懒，啥都没留下</p>
    {% endif %}

  </main>
{% endblock %}
{% block script %}
{% endblock %}